.text-output {
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 90%;
  margin-left: 5%;
  height: 450px;
}

.text-output-content {
  padding: 3% 0 0 5%;
}

.bullet {
  list-style-type: circle;
  line-height: 2.5em;
}
