.landing-title {
  text-align: center;
  font-size: 3em;
  padding-top: 5em;
  color: #ffffff;
  text-shadow: 1px 1px 2px #383838;
}

.wave-container {
  margin-top: -7%;
  background-image: url(../../assets/Background.png);
  background-repeat: no-repeat;
  height: 53em;
}

.navbar-item {
  background-color: transparent !important;
}
